[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/black-white-structure-sample-output.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/black-white-structure-sample-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
